:root {
  --color-health: color(health);
  --color-red-button: color(red-button);
  --color-gradient-start: color(gradient-start);
  --color-gradient-end: color(gradient-end);
 }

  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}